<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    id="WebApp_ID" version="3.0">
  <display-name>CRASH-WEBAPP</display-name>

  <listener>
    <listener-class>org.uli.crash.CrashServlet</listener-class>
  </listener>

  <servlet>
    <servlet-name>Crash Servlet</servlet-name>
    <servlet-class>org.uli.crash.CrashServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- Servlet Mapping to URL pattern -->
  <servlet-mapping>
    <servlet-name>Crash Servlet</servlet-name>
    <url-pattern>/crash/*</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>org.crsh.plugin.WebPluginLifeCycle</listener-class>
  </listener>

  <context-param>
    <param-name>crash.mountpointconfig.conf</param-name>
    <param-value>classpath:/crash/</param-value>
  </context-param>
  <context-param>
    <param-name>crash.mountpointconfig.cmd</param-name>
    <param-value>classpath:/crash/commands/</param-value>
  </context-param>

  <!-- Welcome page list -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
